.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 20px;
}

.space {
    background-color: rgb(153, 112, 192);
    height: 25vh;
    width: 25vw;
    text-align: center;
    /* Use line-height and text-align to center the text in the div 
    vertically and horizontally. */
    line-height: 24vh;
    font-size: 200px;
}

.winner {
    height: 50px;
    width: 30vw;
    background-color: aqua;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 2vh;
}